<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Stand</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="main.css">
</head>
<body>

<% let port = config.server.port !== 80 && config.server.port !== 443 ? ":" + config.server.port : "" %>

<div class="wrapper">
    <h1>Tacostand</h1>
    <p>A simple uploading tool.</p>
    <img class="top-image" src="images/icon.png" alt="tacostand icon"/>
    <h3>Uploading a file with curl</h3>
    <hr>
    <p>To upload a file run the following:</p>
    <pre>
        <code>
curl -F "file=@/my/file/location" <%= host %>
        </code>
    </pre>

    <% let standard_day = config.upload.age.normal > 1 ? "days" : "day" %>

    <p>Which will upload and store a file with a random name for <%= config.upload.age.normal + " " + standard_day %>
        .</p>
    <p>The server will respond with the new location of the file similar to the below example.</p>
    <pre>
        <code>
<%= host %>spry-pumpkin.jpg
        </code>
    </pre>

    <h3>Uploading a one time access file with curl</h3>
    <hr>
    <p>If you want to upload a file that can only be accessed once do the following:</p>
    <pre>
        <code>
curl -F "file=@/my/file/location" <%= host %>togo
        </code>
    </pre>

    <% let togo_day = config.upload.age.togo > 1 ? "days" : "day" %>

    <p>Which will work like normal but will only be accessible once and will only be stored
        for <%= config.upload.age.togo + " " + togo_day %>.</p>

    <h3>Uploading an encrypted file with curl</h3>
    <hr>
    <p>You can store an encrypted file by doing the following:</p>
    <pre>
        <code>
curl -F "file=@/my/file/location" <%= host %>wrap
        </code>
    </pre>
    <% let wrap_day = config.upload.age.wrap > 1 ? "days" : "day" %>

    <p>Which will upload a file and encrypt it, storing it for <%= config.upload.age.wrap + " " + wrap_day %>.
        The server response will contain the location and password to access it.</p>

    <pre>
        <code>
<%= host %>spry-pumpkin.jpg
password: somerandomstring
        </code>
    </pre>

    <h3>Final Remarks</h3>
    <hr>
    <p>I made this tool as a learning project and cannot guarantee the safety of your data, so upload responsibly or use the wrap method to encrypt data.</p>
    <p>Use at your own peril...</p>

    <img class="git-image" src="images/GitHub_Logo.png" alt="github icon"/>
    <p>Check out the source code! <a href="https://github.com/YOUR-WORST-TACO/tacostand">Github</a></p>
</div>
</body>
</html>
